/*
import Montserrat font from Google (closest to Gotham)
*/

@import "https://fonts.googleapis.com/css?family=Montserrat";

/*
global
*/

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #EAEAEA;
}

/*
navbar
*/

.navbar {
    background-color: #4E5D6C;
    border-bottom: 1px solid #4E5D6C;
}
.navbar-logo {
    height: 40px;
    margin-top: 4px;
}
.navbar-brand {
    font-size: 18px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ABB6C2;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #ABB6C2;
    color: #000000;
    color: rgba(0, 0, 0, 0.9);
}

/*
sidebar
*/

#sidebar {
    background-color: #2B3E50;
    border-right: 1px solid #2B3E50;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.5);
}
#sidebar-title {
    text-align: center;
    font-size: large;
    color: #5BC0DE;
}
#sidebar img {
    max-width: 100%;
    border-radius: 3px;
}
#sidebar .fa {
    margin-right: 5px;
}
#sidebar-contact-me {
    color: #DF691A;
}
#chrome-C {
    color: #4285F4;
}
#chrome-h {
    color: #DB4437;
}
#chrome-r {
    color: #F4B400;
}
#chrome-o {
    color: #4285F4;
}
#chrome-m {
    color: #0F9D58;
}
#chrome-e {
    color: #DB4437;
}
#chrome-icon {
    color: #F4B400;
    margin-left: 5px;
}

/*
general use
*/

.noshow {
    visibility: hidden;
}
.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody:not(:hover) {
    overflow: hidden !important;
}
.plotly * {
    font-family: 'Montserrat', Arial, sans-serif !important;
}
.plotly .legend .bg {
    fill: transparent !important;
}

/* superhero charts */
.superHeroDefaultBlue {
    background-color: #2B3E50;
}
.superHeroPrimaryOrange {
    background-color: #DF691A;
}
.superHeroSecondaryGray {
    background-color: #4E5D6C;
}
.superHeroSuccessGreen {
    background-color: #5CB85C;
}
.superHeroDangerRed {
    background-color: #D9534F;
}
.superHeroWarningOrange {
    background-color: #F0AD4E;
}
.superHeroInfoBlue {
    background-color: #5BC0DE;
}
.superHeroLightGray {
    background-color: #ABB6C2;
}
.superHeroDefaultBlue .chart-title,
.superHeroPrimaryOrange .chart-title,
.superHeroSuccessGreen .chart-title,
.superHeroDangerRed .chart-title,
.superHeroWarningOrange .chart-title,
.superHeroInfoBlue .chart-title {
    color: #FFFFFF;
}
.superHeroSecondaryGray .chart-title {
    color: #ABB6C2;
}
.superHeroLightGray .chart-title {
    color: #000000;
    color: rgba(0, 0, 0, 0.9);
}

/*
app specific
*/
